body{
    background-color: black;
}

h1{
    color: white;
}

#userSide{
    text-align: center;
    height: 100%;

}

.choices img {
    width: 300px;
    cursor: pointer;
    margin: 50px; 
}


.choices img:hover{
    width: 260px;
}


#first{
    display: block;
}

#second{
    display: none;
}

#third {
    display: none;               
    align-items: center;         
    justify-content: center;    
    height: 100vh;           
}

#userPlay, #computerAction {
    margin: 0 15px;          
    text-align: center;        
}

#middle {
    width: 30%;
    padding: 10px;              
    text-align: center;        
    margin: 0 0px;            
    min-width: 35%;
}

button{
    width: 30%;
    height: 5vh;
    font-size: larger;
    border-radius: 15px;
    margin-top: 20px;
    background-color: blue;
    color: white;
}

button:hover{
    width: 35%;
    height: 6vh;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 119, 0);
}

